<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd">
<!--    开启注文支持-->
    <context:annotation-config/>

    <bean id="dog" class="com.sbi.Dog"/>
    <bean id="cat" class="com.sbi.Cat"/>

<!--byName（按名字）自动装配-->
    <bean id="user1" class="com.sbi.User" autowire="byName">
        <property name="cat" ref="cat"/>
        <property name="dog" ref="dog"/>
        <property name="str" value="kiki"/>
    </bean>
<!--byType(按类型自动装配)-->

    <bean id="user2" class="com.sbi.User" autowire="byType">
        <property name="str" value="kami"/>
    </bean>

</beans>
